@page
@model Rosier.Blog.Pages.EntriesModel
@{
    ViewData["Title"] = "Recent blog entries";
}

@foreach (var entry in Model.Entries)
{
    <article>
        <h2>@entry.PublishDate</h2>
        <h1 class="entry-title">@entry.Title</h1>
        <div class="entry-content">@entry.Description</div>
    </article>
}