html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.entry-container {
  margin: 50px 0;
}

.entry-title {
  font-weight: bold;
  font-size: xx-large;
}

.entry-date {
  font-style: italic;
}

.entry-content {
  margin: 10px 0;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

a.navbar-brand {
  display: flex;
}

.navbar-brand .subTitle {
  font-size: .70em;
}

.navbar-collapse {
  margin-top: auto;
}

.nav-link {
  padding-bottom: 0.3125rem;
  font-size: .90em;
}

.navbar>.container {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-links {
  margin-left: 70px;
}