html {
  font-size: 62.5%;
}

@media (min-width: 768px) {
  html {
    font-size: 60%;
  }
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #4d4d4d;
}

html {
  position: relative;
  min-height: 100%;
}

header img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

header a.navbar-brand {
  display: flex;
}

header .navbar-brand h1 {
  font-size: 2em;
}

header .navbar-brand h2 {
  font-size: 1.2em;
  font-weight: normal;
}

article {
  margin: 4rem 0;
}

article h2 {
  font-size: 1.2em;
  font-weight: normal;
}

article h1 {
  font-size: 2em;
}

article h1.entry-title a {
  color: #4d4d4d;
  text-decoration: none;
}

article h1.entry-title a:hover {
  border-bottom: 1px solid;
}

.entry-content {
  margin: 10px 0;
}