html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

header a.navbar-brand {
  display: flex;
}

header .navbar-brand h1 {
  font-size: 1.2em;
}

header .navbar-brand h2 {
  font-size: .70em;
  font-weight: normal;
}

article {
  margin: 0;
}

article+article {
  margin: 50px 0;
}

.entry-title {
  font-weight: bold;
  font-size: xx-large;
}

.entry-date {
  font-style: italic;
}

.entry-content {
  margin: 10px 0;
}